* {
    font-family: 'Inter';
}
:root {
    --text-color: #667085;
    --main-color: #8E2424;
}
h1 {
    font-size: 48px;
    font-weight: 600;
}
h3 {
    font-size: 18px;
    font-weight: 500;
}
h4 {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}
p {
    font-size: 20px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo {
    display:flex;
    align-items: center;
    cursor: pointer;
}
#menu {
    display: flex;
    justify-content: space-between;
}
.menuButton {
    margin-right: 32px;
    border: none;
    color: var(--text-color);
    background: none;
    cursor: pointer;
}
#sign {
    display: flex;
    align-items: center;
}
#signup {
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    background: var(--main-color);   
    border-radius: 8px;
    height: 44px;
    width: 112px;
    cursor: pointer;
}
#signupText {
    color: white;
}
#signup:hover {
    background: #b83232;
}
#signup:active {
    background: rgba(142, 36, 36, 0.8)
}
#logoText {
    margin-left: 8px;
    color: #3A404E;
}
.separator {
    margin-top: 96px;
}
#firstSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#aboutUs {
    color: var(--main-color);
    font-weight: 600;
}
.topicDescription {
    color: #667085;
    width: 40%;
    text-align: center;
}
.metricsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.metric {
    width: 15%;
    font-weight: 400;
    margin-right: 32px;
}
.metricNumber {
    color: var(--main-color);
    font-size: 60px;
    line-height: 72px;
    margin: 12px 0px;    
    font-weight: 600;
}
