* {
    font-family: 'Inter';
}
:root {
    --text-color: #667085;
    --main-color: #8E2424;
}
.separator {
    margin-top: 96px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
h1 {
    font-size: 48px;
    font-weight: 600;
}
h2 {
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
}
h3 {
    font-size: 18px;
    font-weight: 500;
}
h4 {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}
h5 {
    font-size: 15px;
    font-weight: 500;
}
h6 {
    font-size: 14px;
    font-weight: 600;
}
p {
    font-size: 20px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo {
    display:flex;
    align-items: center;
    cursor: pointer;
}
#menu {
    display: flex;
    justify-content: space-between;
}
.menuButton {
    margin-right: 32px;
    border: none;
    color: var(--text-color);
    background: none;
    cursor: pointer;
}
#sign {
    display: flex;
    align-items: center;
}
#signup {
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    background: var(--main-color);   
    border-radius: 8px;
    height: 44px;
    width: 112px;
    cursor: pointer;
}
#signupText {
    color: white;
}
#signup:hover {
    background: #b83232;
}
#signup:active {
    background: rgba(142, 36, 36, 0.8)
}
#logoText {
    margin-left: 8px;
    color: #3A404E;
}
#firstSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#aboutUs {
    color: var(--main-color);
    font-weight: 600;
}
.topicDescription {
    color: var(--text-color);
    width: 40%;
    text-align: center;
}
.metricsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.metric {
    width: 15%;
    font-weight: 400;
    margin-right: 32px;
}
.metricNumber {
    color: var(--main-color);
    font-size: 60px;
    line-height: 72px;
    margin: 12px 0px;    
    font-weight: 600;
}
#vacancy {
    color: var(--main-color);
    margin: 20px auto;
    border-radius: 16px;
    border: 0 solid;
    background: rgba(142, 36, 36, 0.05);
    padding: 5px;
    cursor: pointer;
}
#vacancyTitle {
    margin: auto;
}
#vacancyDescription {
    font-size: 20px;
    color: var(--text-color);
    margin: 20px auto;
}
#vacancyImg {
    margin: 20px auto;
}
.jobs {
    width: 45%;
    margin: auto;
}
.job {
    border: 1px solid #EAECF0;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 0 24px 28px;
    margin: 16px auto;
}
.jobInformation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 15px;
    align-content: space-between;
}
.jobDescription {
    margin: 16px 16px;
}
#depositions {
    color: var(--main-color);
    margin: auto;
}
.deposition {
    margin: 16px auto;
    width: 70%;
    text-align: center;
}
.collaboratorImg {
    margin: auto;
}
.collaboratorName {
    margin: 16px auto 8px auto;
    font-weight: 600;
    color: black;
}
.collaboratorRole {
    margin: auto;
    font-weight: 400;
    color: var(--text-color);
}
